body{
	background-color:#e3e4df;
}

.dingus{
	content: url(hatol.gif);
	height: 90vh;
	width:60%;
}

.gap{
	height: 10vh;
}

.textbox{
	background-color:#347c96;
	display:inline-table;
	width:25vw;
	height:90vh;
}

.space{
	background-color:#e3e4df;
	display:inline-table;
	width: 20vw;
}

.smit{
	content: url(ElizabethSmit.png);
	height:50%;
	width:50v%;
}

@media (max-width: 750px){
	
	body{
		display:block;
	}
	
	.dingus{
		height: 50vh;
		width: 100vw;
		margin:auto;
		padding:2%;
	}
	
	.textbox{
		width:80vw;
		height:95vh;
	}
}
